.wrapper {
    display: flex;
    justify-content: space-between;
    }

    .main,
    .sidebar {
    border: 3px solid var(--nord1);
    padding: 15px;
    }

    .main {
    background-color: var(--nord5);
    width: 60%;
    height: 150vh;
    }

    .sidebar {
    background-color: var(--nord5);
    width: 25%;
    height: 20%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    }